* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;  /* muda aqui */
    height: 100vh;
    padding-top: 120px;       /* aproxima do header */
}


header {
    background: black;
    color: aliceblue;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 100%;
}

header h1 {
    margin: 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    height: 200px;
    border: 3px solid #ff0000;
    border-radius: 10px;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: aliceblue;
    transition: color 0.3s;
    font-size: 1.4rem;
}

a:hover {
    color: red;
}

#grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    gap: 40px;
}
