*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    margin: 0;
}
header{
    background: black;
    color: aliceblue;
    padding: 10px;
}
header h1{
    margin: 0;
    text-align: center;
}
main{
    width: 80%;
    /* background: red; */
    margin: 12px auto;
}
input[type=text],select{
    width: 100%;
    padding: 10px;
    border-radius: 7px;
}
textarea{
    width: 100%;
    height: 90px;
}
#grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}
input[type=submit]{
    text-transform: uppercase;
    color: aliceblue;
    background: rgb(91, 139, 91);
    border: none;
    border-radius: 7px;
    padding: 10px;
    font-weight: bold;
    margin-top: 7px;
    display: flex;
}
#esp_cad{
    width: 30%;
    
}

/* CSS DA LISTAGEM DE PETS */

table{
    width: 100%;
    border-collapse: collapse;
}
td,th{
    border: 1.5px solid rgb(0, 0, 0);
    padding: 5px;
}
th{
    text-align: left;
    background: #1900ff;
    padding: 10px 5px;
}

tr:nth-child(even){
    background: #a1a1a1;
}
tr:hover{
    background: #DDD;
}

/* BOTÂO VOLTAR */

#footer{
    justify-content: center;
    display: flex;
    border: 3px solid black;
    
}
/* footer{
    

} */