*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

header{
    background: #000;
    color: #FFF;
    padding: 10px;
}

header h1{
    margin: 0;
}

main{
    width: 80%;
    margin: 10px auto;
}

input[type=text],select{
    width: 100%;
    padding: 8px 10px;
}

textarea{    
    width: 100%;
    height: 200px;
}

#grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
}

input[type=submit]{
    text-transform: uppercase;
    color: #FFF;
    background: #0e6e2b;
    border: none;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    margin-top: 10px;
}

table{
    width: 100%;
    
}

td,th {
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 8px;
    text-align: left;
}

th {
    text-align: left;
    background: #3804e2;
    color: #000;
    text-align: left;

}

tr:nth-child(even){
    background: #6a95e9;
}

tr:hover{
    background: #01184f;
}   